<h1>Editing entry</h1>

<% form_for(@record) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= t(:effective_date_T) %><br />
    <%= f.date_select :effective_date_at %>
  </p>


  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :tag_list %><br />
    <%= f.text_field :tag_list %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment,:class => "mceEditor" %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%#= link_to 'Show', @record %> 
<%= link_to '返回', entries_path %>