<h1>记账列表</h1>
<%= link_to "<img src='/images/feedback/feedback_tab.png', :alt = 'FeedBack'>", new_feedback_path %>
<%= feedback_tab(:position => 'top') %>

<% form_tag entries_path, :method => 'get' do %>
<p>
  <b>金额</b><%= text_field_tag :s, params[:s] %>
  <%= submit_tag "Search", :amount => nil %>
</p>
<% end %>
<%= "----------------我是淫荡的分割线-------------------" %>
<h1>
Total entries: <%= @records.total_entries %>|
Total pages: <%= @records.total_pages %>|
Current page: <%= @records.current_page %>
</h1>
<%= will_paginate @records %>
<table>
  <thead>
    <tr>
      <th class="center">Date</th>
      <th class="center">Amount</th>
      <th class="center">tag_list</th>
      <th class="center">Comment</th>
      <th class="center"></th>
    </tr>
  </thead>
  <tbody>
    <% @records.each do |entry| %>
      <tr class="<%= cycle('odd', 'even')%>">
        <td class="center"><%=h entry.effective_date_at %></td>
        <td class="right"><%=h entry.amount %></td>
        <td><%=h entry.tag_list %></td>
        <td><%=h entry.comment %></td>

        <td class="center">
          <%= link_to 'Edit', edit_entry_path(entry) %>
          <%= link_to 'Destroy', entry, :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
    <% end %>
    
  </tbody>


</table>
<%= will_paginate @records %>

<br />

<%= link_to 'New entry', new_entry_path %>
