<h1>Listing entries</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Amount</th>
    <th>Tags</th>
    <th>Comment</th>
  </tr>

<% @records.each do |entry| %>
  <tr>
    <td><%=h entry.effective_date_at %></td>
    <td><%=h entry.amount %></td>
    <td><%=h entry.tags %></td>
    <td><%=h entry.comment %></td>
    
    <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
    <td><%= link_to 'Destroy', entry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New entry', new_entry_path %>