<p>
  <b>Title:</b>
  <%=h @record.title %>
</p>

<p>
  <b>Description:</b>
  <%= @record.description %>
</p>

<p>
  <b>Done:</b>
  <%=h @record.done %>
</p>

<p>
  <b>Due date at:</b>
  <%=h @record.due_date_at %>
</p>




<%= link_to 'Edit', edit_event_path(@record) %> |
<%= link_to 'Back', events_path %>
<script type="text/javascript">
  fix_image_size($$('div#news_body img'), 700);
</script>
